@import "./_color";

#footer {
  border-top: 1px solid $gray;
  padding: 50px 100px;
  background: black;
  .footer-title {
    margin-top: 50px;
    h4 { color: white; display: inline-block;}
  }
  p { 
    font-size: 15px; color: $gray;
    & > a > span { 
      color: white;
      font-size: 18px;
      margin-left: 15px;
    }
  }
  .mobileonly { display: none; }
  @media (max-width: 1199px) {
    padding: 50px;
    .footer-title {
      margin-top: 0;
      h4 > span { display: block; margin: 5px 0; }
    }
    .nomobile { display: none; }
    .col-xs-6 { padding-right: 0; }
    .col-xs-6:first-of-type { 
      padding-left: 0;
      border-right: 1px solid gray; 
    }
    .col-md-4 { padding: 0; }
    .mobileonly { display: block; }
  }
}

#joinus {
  max-width: 500px;
  margin: 0 auto;
}

#footer button.btn-default {
  margin: 15px auto;
  font-size: 18px;
  border-radius: 0;
  background: transparent;
  border: 1px solid $gray;
  color: $gray;
  -webkit-transition: background .3s linear;
  transition: background .3s linear;
  &:hover {
    background: $gray;
    color: $black;
  }
}

#footer a.btn-circle {
  margin: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-left: -10px;
  i.fa-facebook { margin: 4px 2px; }
  i.fa-envelope-o { margin: -2px; }
  font-size: 20px;
  line-height: 1.42;
  border-radius: 25px;
  background: $light-gray;
  &:hover {
    background: $gray;
    color: white;
  }
  &.mobileonly { 
    i.fa-facebook { margin: 5px 0 0 5px; }
    border-radius: 5px;  
    margin-top: -10px;
    margin-right: 8px;
    margin-left: 0;
    font-size: 30px;
    background: #4267b2;
    border: none;
    color: white;
    display: none;
  }
  @media (max-width: 1199px) {
    &.mobileonly {
      display: inline-block;
    }
  }
}
