@import "./_color";
@import "./_nav";

@font-face {
  font-family: 'NotoSansCJKtc-Regular';
  src: url("/font/NotoSansCJKtc-Regular.woff") format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  color: $black;
  background: $light-gray;
  font-family: 'NotoSansCJKtc-Regular', 'Noto Sans', "微軟雅黑","Microsoft YaHei", Helvetica, 'sans-serif';
  font-size: 16px;
}

body {
  a {
    color: $blue;
    &:hover {
      color: $blue;
      opacity: 0.8;
    }
  }
  h1, h2, h3, h4, h5, h6{
    color: $gray;
  }
}

body > div.container-fluid {
  min-height: 100%; 
  padding: 0;
}

.textContent {
  padding: 0 150px;
  margin: 150px 0;
  img { width: 100%; }
  h1 { padding: 20px 0; }
  p { text-align: justify; padding: 10px 0;}
}

.bgContent {
  background-size: cover;
  background-position: center;
  .bgText {
    margin: 50px 0;
    background: rgba(0,0,0,.5);
    color: white;
    min-height: 200px;
  }
  .bgText-reverse {
    margin: 50px 0;
    background: rgba(255,255,255,.7);
    min-height: 200px;
    h1 { color: $black; }
  }
  .bgImg {
    margin: 50px 0;
  }
}

