@import "./_color";

.navbar-default { 
  border: none; 
  &.navbar-fixed-top {
    margin-top: -100px;
  }
}

.navbar-default .navbar-header {
  display: block;
  float: none;
  height: 100px; 
  padding: 20px;
  height: 250px;
  a.navbar-brand { 
    color: $brown;
    font-size: 32px; 
  }
  span.navbar-brand { color: $black; }
  .navbar-brand {
    margin: 180px .5px 0 0;
    background: rgba(255,255,255,.2);
  }
  background-image: url(../images/bg_home.jpg);
  background-size: cover;
  background-position: bottom;
}

.navbar-default.navbar-fixed-top {
  position: relative;
  margin: 0;
  padding: 0;
  .container-fluid {
    margin-left: 0;
    padding-left: 0;
  }
  .navbar-collapse {
    padding: 0 35px;
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    ul.nav { 
      padding-left: 0;
      margin-left: 20px;
      & > li > a { color: white; }
    }
    img { display: block; }
  }
}

.navbar-default .navbar-collapse {
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  ul.nav { margin-left: 100px; }
  img { display: none; }
  li > a { padding-bottom: 12px; }
  ul.nav > li.active > a, 
  ul.nav > li.active > a:hover, 
  ul.nav > li.open > a, 
  ul.nav > li > a:hover {
    background: transparent;
    border-bottom: 5px solid $brown;
    animation-name: underline-animation;
    animation-duration: 200ms;
    animation-fill-mode: ease-in;
  }
}

@keyframes underline-animation {
  0% {
    border-bottom: 0px;
  }
  100% {
    border-bottom: 5px solid $brown;
  }
}
