@import "./_layout";

.textContent {
  &:nth-child(even) { background: white; }
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.imgContent {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &.getPicture > img {
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
  }
}

.vcenter {
  @media (max-width: 1199px) {
    width: 100%;
  }
}

.menu_title {
  border-bottom: 1px solid $gray;
  text-align: center;
  padding-bottom: 30px;
  .small { font-size: .6em; }
  @media (max-width: 767px) {
    text-align: left;
    padding-bottom: 20px;
    .small { display: block; margin-top: 5px; }
  }
}

.menu_list {
  list-style-type: none;
  & > li {
    color: $light-black;
    margin: 20px 0;
    &[data-src] { text-decoration: underline; }
  }
  & > li[data-src]:hover {
    color: $gray;
    cursor: pointer;
  }
}

