@import "./_layout";

#img-container { 
  overflow: hidden; 
  height: 600px;
  @media (max-width: 1199px) {
    width: 100%;
  }
}

#VIP1, #VIP2, #origin-img { 
  left: -1200px; 
  position: absolute;
  -webkit-transition: left .5s .1s ease;
  transition: left .5s .1s ease;
  &.active {
    left: 0;
  }
}

.VIP1, .VIP2 { cursor: pointer; }
h1.VIP1, h1.VIP2 { text-decoration: underline; }

.vip-hover { opacity: .8; color: gray; }

