<nav class="navbar navbar-default" {{#if bigimg}} style="margin-top:-250px" {{/if}} >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./">
        <img src="./images/logo.png" />
        <span>Beefcake Coffee</span>
      </a>
      <span class="navbar-brand"> Enjoy everything about coffee</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <img src="./images/logo.png" style="height:50px;float:left;" />
      <ul class="nav navbar-nav">
        <li {{#if menu_home }} class="active" {{/if}}><a href="./home">首頁{{#if menu_home}} <span class="sr-only">(current)</span>{{/if}}</a></li>
        <li {{#if menu_story }} class="active" {{/if}}><a href="./story">品牌故事{{#if menu_story}} <span class="sr-only">(current)</span>{{/if}}</a></li>
        <li {{#if menu_news }} class="active" {{/if}}><a href="./news">最新消息{{#if menu_news}} <span class="sr-only">(current)</span>{{/if}}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">猛男菜單 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="./menu">大成店</a></li>
            <li><a href="./menu">安平店</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">堅持品質 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </li>
        <li><a href="#">訓練課程</a></li>
        <li><a href="#">場地租借</a></li>
        <li><a href="#">分店資訊</a></li>
        <li><a href="#">訂購咖啡</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
