<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="css/home.css" >
	</head>
	<body>
    <div id="big-img">
      <div id="img-back"></div>
      <div id="img-front"></div>
      <div id="img-text">
        <div onClick="location.href='./home.html';">
        Welcome to
        <h1>BEEFCAKE COFFEE</h1>
        <a href="./home.html">enter</a>
        </div>
      </div>
    </div>
    {{> header}}
    {{> footer }}
  </body>
</html>
