<html>
  <head>
    {{> head}}
    <style> 
      .navbar-default .container-fluid .navbar-header { 
        background-image: url("/images/bg_home.jpg"); 
        background-position: center 40%; 
      } 
    </style>
	</head>
	<body>
    <div id="big-img" {{#if bigimg}} style="display: block" {{/if}}>
      <div id="img-back"></div>
      <div id="img-front"></div>
      <div id="img-text">
        <div onClick="scrollToMain();">
          <h1>BEEFCAKE COFFEE ROASTERS</h1>
          Enjoy everything about Coffee
        </div>
      </div>
    </div>
    {{> header}}
    <div class="container-fluid">
      <div class="homeBack reverseBack" style="background-image:url('images/home_2.jpg')">
      <div class="textContent row">
        <div class="col-lg-6 vcenter">
          <h1>猛男咖啡 大成精品店</h1>
          <p class="links"><a href="/menu">MENU</a> <a href="/about">CONTACT</a></p>
          <p>猛男咖啡創始店，以開放式吧台設計為主軸，咖啡師一對一介紹咖啡、敘述咖啡風味口感，在顧客面前沖煮咖啡。專業手沖、虹吸、愛熱壓、義式咖啡多樣的沖煮方式提供顧客選擇。店裏備有世界一級莊園新鮮烘焙咖啡豆，例如巴拿馬翡翠莊園藝妓、90+咖啡豆。一個專業品嚐咖啡的地方，帶您體會最美味的咖啡。</p>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-5 vcenter">
          <img class="slide-in align-left" src="images/home_2-1.jpg" style="width:120%;margin-left:-50px"/>
        </div>
      </div></div>
      <div class="homeBack pureBack" style="background-image:url('images/home_2.jpg')"><div></div></div>
      <div class="homeBack reverseBack" style="background-image:url('images/home_3.jpg')">
      <div class="textContent row">
        <div class="col-lg-5 vcenter">
          <img class="slide-in align-right" src="images/home_3-1.jpg" style="width:120%;margin-left:-50px"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter">
          <h1>猛男咖啡 2.0 安平店</h1>
          <p class="links"><a href="/menu2">MENU</a> <a href="/venue">場地租借</a> <a href="/about">CONTACT</a></p>
          <p>以精品咖啡結合餐點，一個讓您悠閒喝咖啡、享受餐點、感受臺南運河緩慢步調的地方。手工現作餐點、嚴選新鮮蔬果食材；現場供應三明治、沙拉、千層麵、早午餐、鬆餅、炸物、自家手作甜點、多款比利時啤酒。一樓用餐空間、VIP包廂、河景會議室皆可提供活動包場使用。</p>
        </div>
      </div></div>
      <div class="homeBack pureBack" style="background-image:url(images/home_3.jpg)"><div></div></div>
    </div>
    {{> footer }}
    <link rel="stylesheet" href="./css/home.css" >
    <script src="./js/home.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
  </body>
</html>
