<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/home.css" >
	</head>
	<body>
    <div id="big-img" {{#if bigimg}} style="display: block" {{/if}}>
      <div id="img-back"></div>
      <div id="img-front"></div>
      <div id="img-text">
        <div onClick="scrollToMain();">
          <h1>BEEFCAKE COFFEE ROASTERS</h1>
          Enjoy everything about Coffee
        </div>
      </div>
    </div>
    {{> header}}
    <div class="container-fluid">
      <div class="content"><h1>大成精品店</h1></div>
      <div class="homeBack" style="background-image:url(images/story_2.jpg)"></div>
      <div class="content"><h1>安平店</h1></div>
      <div class="homeBack" style="background-image:url(images/story_3.jpg)"></div>
      <div class="content"><h1>聯絡我們</h1></div>
      <div class="homeBack" style="background-image:url(images/story_5.jpg)"></div>
      <div style="height:500px"></div>
    </div>
    {{> footer }}
    {{#if bigimg}} <script src="./js/home.js"></script> {{/if}}
    <script src="./js/common.js"></script>
  </body>
</html>
