<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/home.css" >
	</head>
	<body>
    <div id="big-img" {{#if bigimg}} style="display: block" {{/if}}>
      <div id="img-back"></div>
      <div id="img-front"></div>
      <div id="img-text">
        <div onClick="scrollToMain();">
          <h1>BEEFCAKE COFFEE ROASTERS</h1>
          Enjoy everything about Coffee
        </div>
      </div>
    </div>
    {{> header}}
    <div class="container-fluid" style="height:2000px;background:red"></div>
    {{> footer }}
    {{#if bigimg}} <script src="./js/home.js"></script> {{/if}}
    <script src="./js/common.js"></script>
  </body>
</html>
