<html>
  <head>
    {{> head}}
    <style> 
      .navbar-default .container-fluid .navbar-header { 
        background-image: url("/images/bg_about.jpg"); 
        background-position: center 42%; 
      } 
      #main { width: 80%; }
      @media (max-width: 767px) { #main { width: 100%; margin: 0 10px; } }
    </style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid" id="main">
      <h1>加入我們</h1>
      <p>blablabla...</p>
    </div>
    {{> footer }}
    <link rel="stylesheet" href="./css/layout.css" >
    <script src="./js/common.js"></script>
  </body>
</html>

