<html lang="zh-tw">
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/home.css" >
	</head>
	<body>
    {{> header}}
    <form action='/login' method="post" class="form-inline" style="width:100%;text-align:center;margin:50px 0">
      <input type="text" name="user" class="form-control" />
      <input type="password" name="password" class="form-control" />
      <input type="submit" value="submit" class="btn btn-default" />
    </form>
    {{> footer }}
    <script src="./js/common.js"></script>
  </body>
</html>
