<html>
  <head>
    {{> head}}
    <style> 
      .navbar-default .container-fluid .navbar-header { 
        background-image: url("/images/bg_menu2.jpg"); 
        background-position: center 20%; 
      } 
      .col-lg-1.vcenter { padding: 0; }
    </style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-4 vcenter imgContent col-lg-push-8">
          <img src="images/story_2.jpg" class="slide-in align-right" style="width:130%;margin-left:-50px"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-7 vcenter col-lg-pull-5">
          <h2 class="menu_title">Single Origin 單品咖啡 <span class="small">(手沖 / 虹吸 / 愛樂壓)</span><br/><span class="small" style="display:block;margin-top:10px;">咖啡豆品項因應產區時節供應</span></h2>
          <ul class="col-md-6 menu_list">
          </ul>
          <ul class="col-md-6 menu_list">
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent">
          <img src="images/menu2.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter">
          <h2 class="menu_title">經典義式咖啡 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>義式濃縮 Espresso</li>
            <li>美式咖啡 Americano</li>
            <li>瑪琪雅朵 Macchiato</li>
            <li>卡布奇諾 Cappuccino</li>
            <li>拿鐵咖啡 Coffee Latte</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>摩卡咖啡 Mocha</li>
            <li>Affogato 原味</li>
            <li>Affogato 焦糖、摩卡</li>
            <li>冰磚咖啡 Espresso Cube Coffee</li>
          </ul>
        </div>
      </div>
    </div>
    {{> footer }}
    <link rel="stylesheet" href="./css/menu.css" >
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
    <script src="./js/menu.js"></script>
  </body>
</html>
