<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/menu.css" >
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-md-7 vcenter">
          <h2 class="menu_title">單品咖啡 <span class="small">(Espresso / 熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>衣索比亞 畢洛亞 水洗</li>
            <li>衣索比亞 孔加合作社 日曬</li>
            <li>哥斯大黎加 克瑞提卡莊園</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>瓜地馬拉 瓦爾瑪 水洗</li>
            <li>衣索比亞 沃卡 藍莓炸彈 日曬</li>
            <li>哥斯大黎加 小燭 藝妓 水洗</li>
          </ul>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-4 vcenter">
          <img src="images/story_4.jpg" class="slide-in align-right"/>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-md-5 vcenter">
          <img src="images/story_4.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-6 vcenter">
          <h2 class="menu_title">精選咖啡師 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>咖啡師特調</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>咖啡師特製紅酒冰咖啡</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-md-6 vcenter">
          <h2 class="menu_title">經典義式咖啡 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>濃縮咖啡</li>
            <li>美式咖啡</li>
            <li>卡布奇諾</li>
            <li>拿鐵咖啡</li>
            <li>摩卡咖啡</li>
            <li>焦糖瑪奇朵咖啡</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>妹子咖啡</li>
            <li>冰磚咖啡</li>
            <li>初戀拿鐵</li>
            <li>檸檬美式</li>
            <li>猛男特調</li>
          </ul>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-5 vcenter">
          <img src="images/story_4.jpg" class="slide-in align-right"/>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-md-5 vcenter">
          <img src="images/story_4.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-6 vcenter">
          <h2 class="menu_title">台灣茗茶 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>東方美人</li>
            <li>清香冬片</li>
            <li>阿里山烏龍</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>鐵觀音</li>
            <li>紅玉紅茶</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-md-6 vcenter">
          <h2 class="menu_title">非咖啡飲品 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>抹茶拿鐵</li>
            <li>猛男鮮奶茶</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>比利時熱巧克力</li>
            <li>巧克力奶昔</li>
          </ul>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-5 vcenter">
          <img src="images/story_4.jpg" class="slide-in align-right"/>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-md-5 vcenter">
          <img src="images/story_4.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-6 vcenter">
          <h2 class="menu_title">冰沙</h2>
          <ul class="col-md-6 menu_list">
            <li>抹茶紅豆冰沙</li>
            <li>瘋狂野莓冰沙</li>
            <li>黃金芒果冰沙</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>巧克力可可脆片</li>
            <li>摩卡可可脆片</li>
            <li>香草濃縮球</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-md-6 vcenter">
          <h2 class="menu_title">甜點</h2>
          <ul class="col-md-6 menu_list">
            <li>咖啡千層</li>
            <li>焦糖千層</li>
            <li>盛夏莓果塔</li>
            <li>宇治抹茶塔</li>
            <li>酒釀莓果起士</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>咖啡控起士</li>
            <li>熔岩巧克力</li>
            <li>主廚私藏布丁</li>
            <li>生乳乳酪卷</li>
            <li>老奶奶檸檬蛋糕</li>
          </ul>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-5 vcenter">
          <img src="images/story_4.jpg" class="slide-in align-right"/>
        </div>
      </div>
    </div>
    {{> footer }}
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
    <script src="./js/menu.js"></script>
  </body>
</html>
