<html>
  <head>
    {{> head}}
    <style> 
      .navbar-default .container-fluid .navbar-header { 
        background-image: url("/images/bg_menu2.jpg"); 
        background-position: center 20%; 
      } 
      .col-lg-1.vcenter { padding: 0; }
    </style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <h1 style="text-align:center">猛男菜單 大成精品店</h1>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-4 vcenter imgContent col-lg-push-8">
          <img src="images/story_2.jpg" class="slide-in align-right" style="width:130%;margin-left:-50px"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-7 vcenter col-lg-pull-5">
          <h2 class="menu_title">Single Origin 單品咖啡 <span class="small">(手沖 / 虹吸 / 愛樂壓)</span><br/><span class="small" style="display:block;margin-top:10px;">咖啡豆品項因應產區時節供應</span></h2>
          <ul class="col-md-12 menu_list">
            <li>衣索比亞 耶加雪菲 沃卡合作社 波加立 單一小農 日曬</li>
            <li>衣索比亞 耶加雪菲 畢洛亞 水洗</li>
            <li>衣索比亞 古吉 紫風鈴 日曬</li>
            <li>衣索比亞 西達摩 獅子王 日曬</li>
            <li>肯亞AB 奇昂德瑞處理廠 水洗</li>
            
            <li style="margin-top:50px">巴拿馬 詹森莊園 藝伎水洗</li>
            <li>巴拿馬 波奎特 艾利達 鐵比卡 日曬</li>
            <li>瓜地馬拉 柯班瓦爾瑪 水洗</li>
            <li>哥斯大黎加 卡內特音樂家系列 巴哈 蜜處理</li>
            
            <li style="margin-top:50px">翡翠莊園精品豆</li>
            <li>巴拿馬 翡翠莊園 藍標藝妓 水洗</li>
            <li>巴拿馬 翡翠莊園 綠標藝妓 日曬</li>
            <li>巴拿馬 翡翠莊園 紅標競標藝妓 水洗</li>
          </ul>
          <ul class="col-md-6 menu_list">
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent">
          <img src="images/menu2.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter">
          <h2 class="menu_title">經典義式咖啡 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>義式濃縮 Espresso</li>
            <li>美式咖啡 Americano</li>
            <li>瑪琪雅朵 Macchiato</li>
            <li>卡布奇諾 Cappuccino</li>
            <li>拿鐵咖啡 Coffee Latte</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>摩卡咖啡 Mocha</li>
            <li>Affogato 原味</li>
            <li>Affogato 焦糖、摩卡</li>
            <li>冰磚咖啡 Espresso Cube Coffee</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-4 vcenter imgContent col-lg-push-8">
          <img src="images/menu2.jpg" class="slide-in align-right" style="width:130%;margin-left:-50px"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-7 vcenter col-lg-pull-5">
          <h2 class="menu_title">非咖啡飲品</h2>
          <ul class="col-md-6 menu_list">
            抹茶拿鐵 Matcha
          </ul>
          <ul class="col-md-6 menu_list">
            義大利巧克力 Italy Chocolate
          </ul>
        </div>
      </div>
    </div>
    {{> footer }}
    <link rel="stylesheet" href="./css/menu.css" >
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
    <script src="./js/menu.js"></script>
  </body>
</html>
