<html lang="zh-tw">
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/menu.css" >
    <style> 
      .navbar-default .container-fluid .navbar-header { 
        background-image: url("/images/bg_menu2.jpg"); 
        background-position: center 20%; 
      } 
      .col-lg-1.vcenter { padding: 0; }
    </style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <h1 style="text-align:center">猛男菜單 2.0 安平店</h1>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-4 vcenter imgContent col-lg-push-8">
          <img src="images/menu_1.jpg" class="slide-in align-right" style="width:130%;margin-left:-50px"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-7 vcenter col-lg-pull-5">
          <h2 class="menu_title">單品咖啡 <span class="small">(Espresso / 熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>衣索比亞 畢洛亞 水洗</li>
            <li>衣索比亞 孔加合作社 日曬</li>
            <li>哥斯大黎加 克瑞提卡莊園</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>瓜地馬拉 瓦爾瑪 水洗</li>
            <li>衣索比亞 沃卡 藍莓炸彈 日曬</li>
            <li>哥斯大黎加 小燭 藝妓 水洗</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent">
          <img src="images/menu_2.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter">
          <h2 class="menu_title">精選咖啡師 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li data-src="221.jpg">咖啡師特調</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li data-src="222.jpg">咖啡師特製紅酒冰咖啡</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent col-lg-push-7">
          <img src="images/menu_3.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter col-lg-pull-6">
          <h2 class="menu_title">經典義式咖啡 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>濃縮咖啡</li>
            <li>美式咖啡</li>
            <li>卡布奇諾</li>
            <li>拿鐵咖啡</li>
            <li>摩卡咖啡</li>
            <li>焦糖瑪奇朵咖啡</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>妹子拿鐵</li>
            <li>冰磚咖啡</li>
            <li>初戀拿鐵</li>
            <li>檸檬美式</li>
            <li>猛男特調</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent">
          <img src="images/menu_4.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter">
          <h2 class="menu_title">台灣茗茶 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>東方美人</li>
            <li>清香冬片</li>
            <li>阿里山烏龍</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>鐵觀音</li>
            <li>紅玉紅茶</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent col-lg-push-7">
          <img src="images/menu_5.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter col-lg-pull-6">
          <h2 class="menu_title">非咖啡飲品 <span class="small">(熱 / 冰)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>抹茶拿鐵</li>
            <li>猛男鮮奶茶</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>比利時熱巧克力</li>
            <li>巧克力奶昔</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent">
          <img src="images/menu_6.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter">
          <h2 class="menu_title">冰沙</h2>
          <ul class="col-md-6 menu_list">
            <li>抹茶紅豆冰沙</li>
            <li>瘋狂野莓冰沙</li>
            <li>黃金芒果冰沙</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>巧克力可可脆片</li>
            <li>摩卡可可脆片</li>
            <li>香草濃縮球</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent col-lg-push-7">
          <img src="images/menu_7.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter col-lg-pull-6">
          <h2 class="menu_title">甜點</h2>
          <ul class="col-md-6 menu_list">
            <li data-src="711.jpg">咖啡千層</li>
            <li data-src="712.jpg">焦糖千層</li>
            <li data-src="713.jpg">盛夏莓果塔</li>
            <li data-src="714.jpg">宇治抹茶塔</li>
            <li data-src="715.jpg">酒釀莓果起士</li>
            <li data-src="721.jpg">咖啡控起士</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li data-src="722.jpg">熔岩巧克力</li>
            <li>主廚私藏布丁</li>
            <li>生乳乳酪卷</li>
            <li data-src="725.jpg">老奶奶檸檬蛋糕</li>
            <li data-src="726.jpg">檸檬塔</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent">
          <img src="images/menu_8.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter">
          <h2 class="menu_title">Sandwich <span class="small">09:00-17:00</span></h2>
          <ul class="col-md-6 menu_list">
            <li data-src="811.jpg">手工果醬可頌</li>
            <li data-src="812.jpg">哈姆芝士可頌</li>
            <li data-src="813.jpg">蜂蜜芥末雞腿排巧巴達</li>
            <li data-src="814.jpg">羅勒煙燻鴨胸佛卡夏</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>阿拉斯加燻鮭貝果</li>
            <li data-src="822.jpg">薯泥蛋沙拉貝果 (素)</li>
            <li data-src="823.jpg">貓王抓老薯 (飽)</li>
            <li data-src="824.jpg">經典焗烤燻雞軟法 (飽)</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent col-lg-push-7">
          <img src="images/menu_9.jpg" class="slide-in align-right" style="width:110%"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter col-lg-pull-6">
          <h2 class="menu_title">Lasagna <span class="small">11:00-19:30 (附濃湯、沙拉)</span></h2>
          <ul class="col-md-6 menu_list">
            <li>芝加哥茄汁牛肉千層麵</li>
            <li>馬德里乳酪奶油海鮮千層麵</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>鮮蔬千層麵 (素)</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent">
          <img src="images/menu_10.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-7 vcenter">
          <h2 class="menu_title">Brunch <span class="small">09:00-16:00 (附美式咖啡)</span></h2>
          <ul class="col-md-6 menu_list">
            <li style="font-weight:bold;">簡單吃 Brunch：</li>
            <li data-src="1012.jpg">哈姆墨西哥炒蛋可頌佐南瓜濃湯</li>
            <li data-src="1013.jpg">歐姆燻鮭丹麥塔佐特製薯泥</li>
            <li data-src="1014.jpg">法式吐司佐青蔬附南瓜濃湯 (素)</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li style="font-weight:bold;">小鐵鍋系列：</li>
            <li data-src="1022.jpg">猛男煎塊小牛排</li>
            <li>嫩雞低脂乳酪捲餅佐主廚特製紅醬</li>
            <li data-src="1024.jpg">德國香腸乳酪捲餅佐巴伐利亞酸菜</li>
            <li data-src="1025.jpg">香榭雞腿排佐薯泥蛋沙拉</li>
            <li data-src="1026.jpg">低熱量減脂調控餐</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent col-lg-push-7">
          <img src="images/menu_11.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter col-lg-pull-6">
          <h2 class="menu_title">Waffle <span class="small">09:00-17:30</span></h2>
          <ul class="col-md-6 menu_list">
            <li data-src="1111.jpg">猛男經典咖啡鬆餅 (限量)</li>
            <li>紐約風藍莓鬆餅</li>
            <li data-src="1113.jpg">香蕉巧克力淇淋鬆餅</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>休士頓炸雞鬆餅</li>
            <li>當季鮮果淇淋鬆餅</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent">
          <img src="images/menu_12.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-7 vcenter">
          <h2 class="menu_title">Salad <span class="small">09:00-17:30</span></h2>
          <ul class="col-md-6 menu_list">
            <li data-src="1211.jpg">和風堅果蘿蔓沙拉 (素)</li>
            <li data-src="1212.jpg">主廚沙拉</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li data-src="1221.jpg">宜蘭鴨胸胡麻蘿蔓沙拉</li>
          </ul>
        </div>
      </div>
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-5 vcenter imgContent col-lg-push-7">
          <img src="images/menu_13.jpg" class="slide-in align-right"/>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-6 vcenter col-lg-pull-6">
          <h2 class="menu_title">Fried <span class="small">09:00-17:30</span></h2>
          <ul class="col-md-6 menu_list">
            <li>炸物拼盤</li>
            <li>脆皮炸薯<br/> (黑松露醬/澳洲風味醬)</li>
            <li>舞力麥克小雞塊</li>
          </ul>
          <ul class="col-md-6 menu_list">
            <li>喀滋脆薯塊</li>
            <li>雷蒙雞柳條</li>
            <li>黃金香酥魷米花</li>
            <li>酥皮炸雞翅</li>
          </ul>
        </div>
      </div>
    </div>
    {{> footer }}
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
    <script src="./js/menu.js"></script>
  </body>
</html>
