<html>
  <head>
    {{> head}}
    <style>
.navbar-default .container-fluid .navbar-header {
    background-image: url(/images/bg_story.jpg) !important;
    background-position: center;
}</style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="row textContent" style="margin-top:20px;">
          <h1>國際證照</h1>
        <div class="col-lg-4 col-md-6 vcenter">
            <img src="images/Q-grader.jpg" class="slide-in align-left" />
            <div style="text-align:center">CQI 阿拉比卡 杯測師</div>
        </div><!--
        --><div class="col-lg-4 col-md-6 vcenter">
            <img src="images/R-grader.jpg" class="slide-in align-right" />
            <div style="text-align:center">CQI 羅布斯塔 杯測師</div>
        </div><!--
        --><div class="col-lg-4 col-md-6 vcenter">
            <img src="images/R-grader.jpg" class="slide-in align-left" />
            <div style="text-align:center">SCAE 在台授權考官</div>
        </div><!--
        --><div class="col-lg-4 col-md-6 vcenter">
            <img src="images/R-grader.jpg" class="slide-in align-right" />
            <div style="text-align:center">SCAE 歐洲咖啡精品協會 在臺授權考官</div>
        </div><!--
        --><div class="col-lg-4 col-md-6 vcenter">
            <img src="images/R-grader.jpg" class="slide-in align-left" />
            <div style="text-align:center">SCAE 歐洲咖啡精品協會 高級咖啡師認證</div>
        </div><!--
        --><div class="col-lg-4 col-md-6 vcenter">
            <img src="images/R-grader.jpg" class="slide-in align-right" />
            <div style="text-align:center;">SCAE 歐洲咖啡精品協會 烘豆執照</div>
        </div>
      </div>
      <div class="textContent">
        <h1>專業器材</h1>
        <div class="row">
          <div class="col-lg-6 vcenter">
            <h3>Nuova Simonelli Aurelia II T3</h3>
            <ul>
              <li>2015-2017 WBC世界盃咖啡大師競賽指定機</li>
              <li>唯一沖泡頭溫控設計-首創三維PID溫控系統，在蒸氣鍋爐、咖啡鍋爐、沖泡頭，三處皆裝有PID溫度控制器，配合獨立咖啡鍋爐設計，即使在大量沖煮的狀況下，仍然能夠確保每一滴萃取咖啡的熱水，永遠保持在最精準的溫度。確保每一杯咖啡的品質，讓您享受最美味的咖啡。</li>
              <li>SIS 漸壓式預浸系統-專業的義式咖啡愛好者都知道，在加壓萃取前，若先對咖啡粉進行預浸，能夠煮出更漂亮的Crema。為此Nuova Simonelli特別與義大利的大學進行合作研究開發，找出最佳的預浸壓力曲線。相較於一般的預浸系統，SIS系統能夠使更多的咖啡粉在萃取前就被水浸潤，因此能夠輕鬆煮出帶有漂亮Crema的 Espresso！</li>
              <li>革命性定重功能(gravimetric) – 精準測量咖啡萃取液重量，保持Expresso萃取率的一致性。</li></ul>
          </div><!--
          --><div class="col-lg-1 vcenter"></div><!--
          --><div class="col-lg-5 vcenter">
            <img src="images/prof_1.jpg" class="slide-in align-right" style="width:120%;margin-left:-50px"/>
          </div>
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-lg-5 vcenter">
            <img src="images/prof_2.jpg" class="slide-in align-left" />
          </div><!--
          --><div class="col-lg-1 vcenter"></div><!--
          --><div class="col-lg-6 vcenter">
             <h3>Victoria Arduino Black Eagle VA388 黑鷹 </h3>
             <ul><li>2012-2014 WBC世界盃咖啡大師競賽指定機</li>
                 <li>2012-2013 TBC 台灣咖啡大師競賽唯一指定機種</li>
                 <li>唯一沖泡頭溫控設計-首創三維PID溫控系統，在蒸氣鍋爐、咖啡鍋爐、沖泡頭，三處皆裝有PID溫度控制器，配合獨立咖啡鍋爐設計，即使在大量沖煮的狀況下，仍然能夠確保每一滴萃取咖啡的熱水，永遠保持在最精準的溫度。確保每一杯咖啡的品質，讓您享受最美味的咖啡。</li>
                 <li>SIS 漸壓式預浸系統-專業的義式咖啡愛好者都知道，在加壓萃取前，若先對咖啡粉進行預浸，能夠煮出更漂亮的Crema。為此Nuova Simonelli特別與義大利的大學進行合作研究開發，找出最佳的預浸壓力曲線。相較於一般的預浸系統，SIS系統能夠使更多的咖啡粉在萃取前就被水浸潤，因此能夠輕鬆煮出帶有漂亮Crema的 Espresso！</li></ul>
          </div>
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-lg-6 vcenter">
            <h3>ALPHA DOMINCHE STEAMPUNK</h3>
            <p>STEAMPUNK是第三波精品咖啡運動下的產物。以義式咖啡機鍋爐和虹吸壺組合的設計雛形，經過不斷的實驗與改良後，一台改寫精品咖啡歷史的STEAMPUNK由此誕生。極具工業風的外型，集手沖，虹吸和法式濾壓三種手法於一身，茶葉的沖煮更不在話下；精確記憶各種沖煮過程所需的參數，將每支精品咖啡、台灣茗茶的最佳沖煮曲線儲存起來，掌握黃金萃取率、提供顧客最穩定的品質，風味鮮明清爽、口感更是獨樹一格。</p>
          </div><!--
          --><div class="col-lg-1 vcenter"></div><!--
          --><div class="col-lg-5 vcenter">
            <img src="images/prof_3.jpg" class="slide-in align-right" style="width:110%"/>
          </div>
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-lg-5 vcenter">
            <img src="images/prof_4.jpg" class="slide-in align-left" />
          </div><!--
          --><div class="col-lg-1 vcenter"></div><!--
          --><div class="col-lg-6 vcenter">
             <h3>Diedrich遠紅外線烘焙機</h3>
             <p>Diedrich遠紅外線烘焙機，是猛男咖啡的烘焙機。傳統烘豆機大部分都以"明火"為熱的主要來源，明火受到外在因素的影響較多，不夠穩定，易造成烘焙咖啡豆品質的不良。然而“Diedrich獨家設計的熱交換器(Heat Exchanger)吸收絕大部份的紅外線熱能，再間接加熱被導引入內的泠空氣。如此一來，不但使得加熱平均，熱能完全不浪費，並且瓦斯消耗是它牌的一半。同時，被加熱完成的均勺熱風更是最佳烘焙的熱源，穩定性極高”(維堤咖啡)。Diedrich不但能提供穩定的熱源協助猛男烘焙，更能讓咖啡的口感鮮明乾淨；免除焦炭味以及苦味。要猛，請喝猛男自家烘焙的猛男豆豆！！</p>
          </div>
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-lg-3 vcenter">
             <h3>Mazzer KOLD 定量版 專業頂級磨豆機</h3>
             <ul><li>後置馬達設計-減少馬達將熱能傳遞到咖啡粉上，保持磨豆槽的低溫，另一方面也因為更靠近後方的散熱風扇，散熱效果更佳。</li>
                 <li>皮帶驅動設計 - 利用皮帶來牽引刀盤轉動，有效將馬達室與磨豆槽完全分離。</li>
                 <li>雙重散熱通風系統-散熱風扇與馬達軸心整合在一起，當馬達啟動時，電子散熱系統也會同時啟動。</li></ul>
          </div><!--
          --><div class="col-lg-6 vcenter">
            <img src="images/prof_5.jpg" class="slide-in align-left" />
          </div><!--<!--
          --><div class="col-lg-3 vcenter">
             <h3>Mahlkönig EK43</h3>
             <p>2012年World Brewers Cup 世界咖啡沖煮大賽冠軍Matt Perger強力推薦EK43 ！Matt Perger 是澳洲St Ali咖啡的知名Barista選手，除了拿到2012年的World Brewers Cup冠軍以外，在2011與2013年的WBC也都曾進入6強準決賽。Matt 強力推薦EK43 ，除了殘粉量極少之外，極佳的顆粒均勻度也使得咖啡風味更加均衡，避免過度萃取所造成的雜味，讓您精挑細選的精品豆能夠完全展現出您想要的風味。</p>
          </div>
        </div>
        <div class="row" style="margin-top:50px;">
          <div class="col-lg-6 vcenter">
            <h3>Ditting KR804</h3>
            <p>瑞士研發製造，在咖啡業界享有盛名。其獨特的上下磨刀設計，將咖啡豆分為三段式研磨: 引入->切割->精磨。此外，Ｄitting還搭配有適度的馬達扭力，與自轉式的散熱設計，冷靜精細地處理您每一粒咖啡豆，堪稱當今市售研磨的最精準的磨豆機。</p>
            <p>當咖啡粉細度均勺，萃取品質方能有最佳的表現；才不會造成顆粒大小不均而產生的萃取過多或不足，進而影響口感。也難怪Ditting幾乎成為美國咖啡業界手沖咖啡師的標準配備。</p>
          </div><!--
          --><div class="col-lg-1 vcenter"></div><!--
          --><div class="col-lg-5 vcenter">
            <img src="images/prof_6.jpg" class="slide-in align-right" style="width:90%"/>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
    <link rel="stylesheet" href="./css/layout.css" >
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
  </body>
</html>
