<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/layout.css" >
	</head>
	<body>
    {{> header}}
    <div class="container-fluid" style="height: 1000px"></div>
    {{> footer }}
    <script src="./js/common.js"></script>
  </body>
</html>
