<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/layout.css" >
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-md-6">
          <h1>誕生</h1>
          <p>選一個舒適座位，點一份咖啡輕食。有餐的好咖啡館，有好咖啡的餐館，一個簡單的想法。堅持新鮮烘焙、餐點現點現做。用食的品味分享及專注生活態度，演繹這名為「夢想」的故事。</p>
          <p>Not only are all the coffee beans home-roasting, but also all the meals are freshly made right after your order. While fulfilling our dream founding RÊVE Café, we share our lifestyle with taste.</p>
        </div>
        <div class="col-md-6">
          <img src="images/story_1.png" />
        </div>
      </div>
      <div class="row textContent bgContent" style="background-image:url(images/story_2.jpg);">
        <div class="col-md-4"></div>
        <div class="col-md-8 bgText">
          <h1>經營理念</h1>
          <p>選一個舒適座位，點一份咖啡輕食。有餐的好咖啡館，有好咖啡的餐館，一個簡單的想法。堅持新鮮烘焙、餐點現點現做。用食的品味分享及專注生活態度，演繹這名為「夢想」的故事。</p>
          <p>Not only are all the coffee beans home-roasting, but also all the meals are freshly made right after your order. While fulfilling our dream founding RÊVE Café, we share our lifestyle with taste.</p>
        </div>
      </div>
      <div class="row textContent">
        <div class="col-md-4">
          <h1>大成精品店</h1>
          <p>選一個舒適座位，點一份咖啡輕食。有餐的好咖啡館，有好咖啡的餐館，一個簡單的想法。堅持新鮮烘焙、餐點現點現做。用食的品味分享及專注生活態度，演繹這名為「夢想」的故事。</p>
        </div>
        <div class="col-md-4">
          <img src="images/story_4.jpg" />
        </div>
        <div class="col-md-4">
          <img src="images/story_5.jpg" />
        </div>
      </div>
      <div class="row textContent bgContent" style="background-image:url(images/story_3.jpg);">
        <div class="col-md-5 bgImg">
          <img src="images/story_4.jpg" />
          <div style="margin:20px;"></div>
          <img src="images/story_5.jpg" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 bgText-reverse">
          <h1>安平店</h1>
          <p>選一個舒適座位，點一份咖啡輕食。有餐的好咖啡館，有好咖啡的餐館，一個簡單的想法。堅持新鮮烘焙、餐點現點現做。用食的品味分享及專注生活態度，演繹這名為「夢想」的故事。</p>
          <p>Not only are all the coffee beans home-roasting, but also all the meals are freshly made right after your order. While fulfilling our dream founding RÊVE Café, we share our lifestyle with taste.</p>
          <p>選一個舒適座位，點一份咖啡輕食。有餐的好咖啡館，有好咖啡的餐館，一個簡單的想法。堅持新鮮烘焙、餐點現點現做。用食的品味分享及專注生活態度，演繹這名為「夢想」的故事。</p>
          <p>Not only are all the coffee beans home-roasting, but also all the meals are freshly made right after your order. While fulfilling our dream founding RÊVE Café, we share our lifestyle with taste.</p>
          <p>選一個舒適座位，點一份咖啡輕食。有餐的好咖啡館，有好咖啡的餐館，一個簡單的想法。堅持新鮮烘焙、餐點現點現做。用食的品味分享及專注生活態度，演繹這名為「夢想」的故事。</p>
        </div>
      </div>
    </div>
    {{> footer }}
    <script src="./js/common.js"></script>
  </body>
</html>
