<html lang="zh-tw">
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/layout.css" >
    <style>
.navbar-default .container-fluid .navbar-header { 
    background-image: url(/images/bg_story.jpg) !important; 
    background-position: center;
}</style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="row textContent" style="margin-top:20px;">
        <div class="col-lg-6 vcenter">
          <h1>我們的故事</h1>
          <p>猛男咖啡，由David＆Danny兄弟於2012年創立。弟弟Danny為台灣少數持有美國咖啡精品協會杯測師執照(SCAA Q Grader)及歐洲咖啡精品協會在台授權考官(SCAE)之咖啡老師，哥哥David曾擔任澳洲Thumm Estate Winery之品酒師；兩位皆對於味覺有著嚴格的挑惕。</p>
          <p>一開始我們的服務內容為提供咖啡專業教育、咖啡開店輔導、以及供應新鮮自家烘焙咖啡豆給咖啡店家，以後台服務為主。直到2014年，第一間“猛男咖啡精品店“，始於臺南市南區大成路與大家見面。</p>
          <p>由於Danny曾擔任過健身教練，兩兄弟都喜好運動，在咖啡同業裡算是體格非常壯碩的，兩位就被同業暱稱為猛男，這也是被稱為”猛男咖啡“的原因。</p>
          <p>在2016年，猛男咖啡於安平拓展了第二間分店，以精品咖啡結合了早午餐、輕食、自家手作甜點，提供給各位朋友一個享受高品質咖啡的地方。</p>
        </div><!--
        --><div class="col-lg-1 vcenter"></div><!--
        --><div class="col-lg-5 vcenter">
          <img src="images/story_4.jpg" class="slide-in align-right" />
        </div>
      </div>
      <div class="row textContent bgContent" style="background-image:url(images/story_2.jpg);">
        <div class="col-lg-4"></div>
        <div class="col-lg-8 bgText">
          <h1>經營理念</h1>
          <p>我們喜歡咖啡，我們熱愛好咖啡，我們更愛分享好咖啡。</p>
          <p>我們挑惕咖啡，如果不是我們喜歡的咖啡，不會出現在猛男咖啡。</p>
          <p>我們嚴選食材、挑選新鮮蔬果，堅持手工現作我們的餐點及甜點。</p>
          <p>我們用心把每一個細節做好，我們給予家人的，總是希望最好的；<br/>
             給您的咖啡，我們熱愛的咖啡；給您的餐點，給家人的餐點。</p>
        </div>
      </div>
      <div class="textContent">
        <div class="row">
          <div class="col-lg-6 vcenter">
            <h1>堅持品質</h1>
            <p>我們深信，餐飲，是一種良心事業。某些黑心商人為了提高獲利，不惜犧牲飲食衛生與安全，讓消費者在不知情的狀況下吃下來路不明或是有害健康的食品。而我們所提供的餐點及咖啡飲品，堅持控管原物料的品質與成分，除了自己與身邊的家人吃的安心之外，也希望消費者看到我們的用心，願在廣大的餐飲市場守護我們對於產品的價值。</p>
          </div><!--
          --><div class="col-lg-1 vcenter"></div><!--
          --><div class="col-lg-5 vcenter">
            <img src="images/story_7.jpg" class="slide-in align-right" />
          </div>
        </div><div class="row" style="margin-top:50px;">
          <div class="col-lg-5 vcenter">
            <img src="images/story_8.jpg" class="slide-in align-left"/>
          </div><!--
          --><div class="col-lg-1 vcenter"></div><!--
          --><div class="col-lg-6 vcenter">
            <p>我們對咖啡的堅持，不單單只是在新鮮烘焙。並且透過專業杯測挑選咖啡生豆、在烘焙前後手工篩選咖啡豆。對於咖啡器材，更不惜重金購入世界精品級烘焙機、專業級磨豆機、世界吧檯師比賽指定義式咖啡機。</p>
            <p>我們對餐點的初衷，則是嚴選新鮮的蔬果及食材，即時烹調；一份我們為給家人準備的餐點，才是我們願意在猛男咖啡提供的餐點。</p>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
  </body>
</html>
