<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/layout.css" >
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="row textContent">
        <div class="col-md-5 vcenter">
          <img src="images/story_6.jpg" class="slide-in align-left"/>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-6 vcenter">
          <h1>VIP私人包廂</h1>
          <p>沙發座包廂，適合6-8人使用。寬敞明亮具隱私性。可供小型聚會、商業洽談使用。</p>
          <h1>運河全景會議室</h1>
          <p>寬敞明亮的空間，眺望臺南運河景色。 會議大長桌配有電源插座，並提供投影機及大螢幕租借，空間可容納至30人。適合中型聚會、銀行理財說明會、品酒會、課程分享會及家族聚餐包場。</p>
        </div>
      </div>
    </div>
    {{> footer }}
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
  </body>
</html>

