<html>
  <head>
    {{> head}}
    <style> 
      .navbar-default .container-fluid .navbar-header { 
        background-image: url("/images/bg_venue.jpg"); 
        background-position: center; 
      } 
      #VIP1, #VIP2 { display: none; }
      .vip-hover { opacity: .8; color: gray; }
    </style>
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="row textContent">
        <div class="col-md-5 vcenter" id="img-container">
          <div id="origin-img">
            <img src="images/venue_1.jpg" style="width:115%;margin-left:-50px;"/>
          </div>
          <div id="VIP1">
            <img src="images/venue_VIP0.jpg" />
            <div style="margin:20px;"></div>
            <img src="images/venue_VIP1.jpg" />
          </div>
          <div id="VIP2">
            <img src="images/venue_VIP2.jpg" />
            <div style="margin:20px;"></div>
            <img src="images/venue_VIP3.jpg" />
          </div>
        </div><!--
        --><div class="col-md-1 vcenter"></div><!--
        --><div class="col-md-6 vcenter">
          <h1 class="VIP1">VIP 私人包廂</h1> 
          <p class="VIP1">沙發座包廂，適合6-8人使用。寬敞明亮具隱私性。可供小型聚會、商業洽談使用。</p>
          <h1 class="VIP2">運河全景會議室</h1>
          <p class="VIP2">寬敞明亮的空間，眺望臺南運河景色。 會議大長桌配有電源插座，並提供投影機及大螢幕租借，空間可容納至30人。適合中型聚會、銀行理財說明會、品酒會、課程分享會及家族聚餐包場。</p>
        </div>
      </div>
    </div>
    {{> footer }}
    <link rel="stylesheet" href="./css/layout.css" >
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
    <script src="./js/venue.js"></script>
  </body>
</html>

